.custom_name {
    font-family: playfair display, serif;
    font-size: 35px;
}

.fixed_header {
    background-color: #3D2167;
}

.Containerinfo {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.custom_navBar {
    font-size: 18px;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .custom_name {
        font-family: playfair display, serif;
        font-size: 18px;
    }
}