.custom_name {
    font-family: playfair display, serif;

}

.fixed_header {
    background-color: #3D2167;
}

.Containerinfo {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {}