.addItemHeader {
    font-size: 30px;
    font-family: playfair display, serif;
}

.btn_add_item {
    background-color: orangered;
    color: white;
    transition: .4s;
}

.btn_add_item:hover {
    background-color: black;
    color: white;
}