.box_shadow {
    box-shadow: 0 1px 6px 1px #6a6a6a;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 70px;
    background-color: #3D2167;
}

.about_detalis_container {
    position: absolute;
    top: 30px;
    left: 50%;
    font-family: playfair display, serif;
}

.about_detalis_container h2 {
    font-size: 48px;
    font-weight: 600;
}

.single_part {
    background-color: white;
    margin-top: 30px;
    padding: 30px 80px 30px 30px;
    box-shadow: 0 1px 6px 1px #6a6a6a;
    border-radius: 10px;
}

.single_part h3 {
    font-size: 35px;
}

.single_part p {
    font-size: 20px;
}

.react_icon {
    font-size: 25px;
}

.why_contaier {
    position: relative;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .box_shadow {
        padding-top: 10px;
        height: 750px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        width: 98%;
        margin: 0 auto;
        margin-top: -50px;
    }

    .why_contaier {
        position: relative;
    }

    .about_detalis_container {
        position: absolute;
        top: 220px;
        left: 0px;
    }

    .about_detalis_container h2 {
        font-size: 33px;
        font-weight: 500;
        text-align: center;
    }

    .single_part {
        margin-top: 20px;
        padding: 10px 12px 10px 12px;
        border-radius: 5px;
    }

    .single_part h3 {
        font-size: 24px;
    }

    .single_part p {
        font-size: 16px;
    }

    .react_icon {
        font-size: 20px;
    }
}