.detials_container_banner {
    position: absolute;
    top: 30%;
    left: 200px;
    font-family: playfair display, serif;
    font-size: 38px;
}

.banner_btn {
    background-color: #f6520a;
    color: white;
    padding: 18px 30px;
    border: none;
    transition: .4s;
}

.banner_btn:hover {
    background-color: black;
    color: white;
}