.detials_container_banner {
    position: absolute;
    top: 30%;
    left: 200px;
    font-family: playfair display, serif;
    font-size: 38px;
}

.banner_btn {
    background-color: #f6520a;
    color: white;
    padding: 18px 30px;
    border: none;
    transition: .4s;
    margin-top: 30px;
}

.banner_btn:hover {
    background-color: black;
    color: white;
}

/* ------------------media css for mobile phone  -----------------*/
@media (max-width: 575.98px) {
    .detials_container_banner {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 16px;
    }

    .banner_btn {
        display: none;

    }

    .banner_sections {
        margin-top: 170px;
    }
}