@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: orange;
    font-size: 20px;
    font-family: playfair display, serif;
}

.drawer-side a {
    background-color: transparent;
    color: white;
    margin: 2px 0;
    font-size: 17px;
    font-family: playfair display, serif;
}

.daboardHeader h2 {
    font-size: 44px;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: playfair display, serif;
}

.daboardHeader p {
    text-align: center;

    margin-bottom: 30px;
    color: white;
    font-size: 18px;
    font-family: playfair display, serif;
}